body {
    background-color: #475d8a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 300px;

}

.App {
    display: flex;
    flex-direction: column;
    border: 5px solid aquamarine;
    border-radius: 20px;
    padding: 15px;
    width: 420px;
}

.display {
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    flex-grow: 1;
    color: green;
    font-weight: bold;
    padding: 0px 40px;
}

.number {
    font-size: 100px;
}

.number.red {
    color: red;
}

.buttons_block {
    display: flex;
    justify-content: space-around;
    border: 5px solid aquamarine;
    border-radius: 20px;
    padding: 15px 10px;
    -webkit-user-select: none;
}

.button {
    display: block;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background-color: aquamarine;
    font-size: 45px;
    font-weight: bold;
    color: #475d8a;
    cursor: pointer;
}

.button:hover {
    background-color: #2bcb99;
}

.button:disabled {
    background-color: rgba(144, 144, 145, 0.8);
    cursor: not-allowed;
}

.settings_item {
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings_item:not(:last-child) {
    margin-bottom: 20px;
}


.input {
    border-radius: 20px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    width: 150px;
    outline: none;
}

.input.error {
   outline: 2px solid red;
    color: red;

}

.error_text {
    color: red;
    font-size: 12px;
    position: absolute;
    margin-left: 10px;

}

.input_wrapper {
    position: relative;
}
